@model ZRdemoContracts.ModelsDTO.TrainingDTO
@using ZRdemoContracts.Enum
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>TrainingDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.HiddenFor(t => t.Id)
            </div>
            <div class="form-group">
                <label asp-for="GymId" class="control-label">Gym Id</label>
                @Html.EditorFor(t => t.GymId)
                <span asp-validation-for="GymId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoachId" class="control-label">Coach Id</label>
                @Html.EditorFor(t => t.CoachId)
                <span asp-validation-for="CoachId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupOfStudentsId" class="control-label"> Group Id</label>
                @Html.EditorFor(t => t.GroupOfStudentsId)
                <span asp-validation-for="GroupOfStudentsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeStart" class="control-label"> Time start</label>
                @Html.EditorFor(t => t.TimeStart)
                <span asp-validation-for="TimeStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uniform" class="control-label">Unifor</label>
                @Html.DropDownListFor(t => t.Uniform, new SelectList(Enum.GetValues(typeof(Uniform))), "Select uniform")
                <span asp-validation-for="Uniform" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfTraining" class="control-label"> Type of training</label>
                @Html.DropDownListFor(t => t.TypeOfTraining, new SelectList(Enum.GetValues(typeof(TypeOfTraining))), "Select type of training")
                <span asp-validation-for="TypeOfTraining" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    <a href="/trainings/schedule">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
