@model ZRdemoContracts.ModelsDTO.TrainingDTO

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Training</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gym.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gym.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coach.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coach.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupOfStudents.GroupType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupOfStudents.GroupType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uniform)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uniform)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfTraining)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfTraining)
        </dd>
    </dl>
    
    @using (Html.BeginForm("DeleteTraining", "Trainings"))
    {
        @Html.HiddenFor(t => t.Id)
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a href="/trainings/schedule">Back to List</a>
    }
</div>
