@model ZRdemoContracts.ModelsDTO.TrainingDTO
@using ZRdemoContracts.Enum
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>TrainingDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(t => t.Id)
            <div class="form-group">
                <label asp-for="GymId" class="control-label">Gym Id</label>
                @Html.EditorFor(t => t.GymId)<br />
                @Html.ValidationMessageFor(t => t.GymId)
            </div>
            <div class="form-group">
                <label asp-for="CoachId" class="control-label">Coach Id</label>
                @Html.EditorFor(t => t.CoachId)<br />
                @Html.ValidationMessageFor(t => t.CoachId)
            </div>
            <div class="form-group">
                <label asp-for="GroupOfStudentsId" class="control-label"> Group Id</label>
                @Html.EditorFor(t => t.GroupOfStudentsId)<br />
                @Html.ValidationMessageFor(t => t.GroupOfStudentsId)
            </div>
            <div class="form-group">
                <label asp-for="TimeStart" class="control-label"> Time start</label>
                @Html.EditorFor(t => t.TimeStart)<br />
                @Html.ValidationMessageFor(t => t.TimeStart)
            </div>
            <div class="form-group">
                <label asp-for="Uniform" class="control-label">Unifor</label>
                @Html.DropDownListFor(t => t.Uniform, new SelectList(Enum.GetValues(typeof(Uniform))), "Select uniform")<br />
                @Html.ValidationMessageFor(t => t.Uniform)
            </div>
            <div class="form-group">
                <label asp-for="TypeOfTraining" class="control-label"> Type of training</label>
                @Html.DropDownListFor(t => t.TypeOfTraining, new SelectList(Enum.GetValues(typeof(TypeOfTraining))), "Select type of training")<br />
                @Html.ValidationMessageFor(t => t.TypeOfTraining)
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    <a href="/trainings/schedule">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
