@model ZRdemoContracts.ModelsDTO.GroupOfStudentsDTO
@using ZRdemoContracts.Enum
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>GroupOfStudentsDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <label asp-for="GroupType" class="control-label">Group Type</label>
                @Html.DropDownListFor(model => model.GroupType, new SelectList(Enum.GetValues(typeof(GroupType))), "Select type")<br />
                @Html.ValidationMessageFor(model => model.GroupType)
            </div>
            <div class="form-group">
                <label asp-for="GroupAge" class="control-label"> Group Age</label>
                @Html.EditorFor(model => model.GroupAge) <br />
                @Html.ValidationMessageFor(model => model.GroupAge)
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    <a href="/groups/index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
