@model ZRdemoContracts.ModelsDTO.CoachDTO
@{
    ViewData["Title"] = "Schedule";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Schedule</h1>
<a href="/trainings/create">Add training</a>
<h2>Coach:</h2>
<h3>@Html.DisplayFor(c => c.FirstName) @Html.DisplayFor(c => c.LastName)</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Trainings[0].TimeStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainings[0].GroupOfStudentsId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainings[0].TypeOfTraining)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainings[0].Uniform)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainings[0].GymId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Trainings)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupOfStudentsId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeOfTraining)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uniform)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GymId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CoachId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CoachId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CoachId })
                </td>
            </tr>
        }
    </tbody>
</table>