@model ZRdemoContracts.ModelsDTO.StudentDTO

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>StudentDTO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupOfStudentsId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupOfStudentsId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupOfStudentsDTO)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GroupOfStudentsDTO.GroupType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Injury)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Injury)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Belt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Belt)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {id = Model.StudentId}) |
    <a href="/student/index">Back to List</a>
</div>
