@model ZRdemoContracts.ModelsDTO.StudentDTO
@using ZRdemoContracts.Enum
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>StudentDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.StudentId)
            <div class="form-group">
                <label asp-for="GroupOfStudentsId" class="control-label">Group Of Students Id</label>
                @Html.EditorFor(model => model.GroupOfStudentsId)<br />
                @Html.ValidationMessageFor(model => model.GroupOfStudentsId)
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">Firs tName</label>
                @Html.EditorFor(model => model.FirstName)<br />
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Last Name</label>
                @Html.EditorFor(model => model.LastName)<br />
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label">Birth Date</label>
                @Html.EditorFor(model => model.BirthDate)<br />
                @Html.ValidationMessageFor(model => model.BirthDate)
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                @Html.EditorFor(model => model.PhoneNumber)<br />
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                @Html.EditorFor(model => model.Email)<br />
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"> Gender</label>
                @Html.DropDownListFor(model => model.Gender, new SelectList(Enum.GetValues(typeof(Gender))), "Select gender") <br />
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    @Html.CheckBoxFor(model => model.Injury) @Html.DisplayNameFor(model => model.Injury)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Belt" class="control-label">Belt</label>
                @Html.DropDownListFor(model => model.Belt, new SelectList(Enum.GetValues(typeof(Belts))), "Select belt")<br />
                @Html.ValidationMessageFor(model => model.Belt)
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    <a href="/studen/index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
